@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --amber: #D4A74A;
  --midnight: #1C2B3A;
  --cream: #F9F5EA;
  --rosegold: #BD8C7D;
  --emerald: #1D7874;
  --charcoal: #333333;
  --slate: #6B7280;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-amber: var(--amber);
  --color-midnight: var(--midnight);
  --color-cream: var(--cream);
  --color-rosegold: var(--rosegold);
  --color-emerald: var(--emerald);
  --color-charcoal: var(--charcoal);
  --color-slate: var(--slate);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-montserrat: var(--font-montserrat);
  --font-poppins: var(--font-poppins);
  /* --font-montserrat: var(--font-montserrat); */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --amber: #D4A74A;
    --midnight: #1C2B3A;
    --cream: #F9F5EA;
    --rosegold: #BD8C7D;
    --emerald: #1D7874;
    --charcoal: #333333;
    --slate: #6B7280;
  }
}

body {
  background: var(--cream);
  color: var(--charcoal);
  /* font-family: Arial, Helvetica, sans-serif; */
}

::selection {
  background: var(--amber);
  color: var(--cream);
}